<!--Jessica Kuleshov and Sedona Thomas-->
<!--constants.html: -->

<!DOCTYPE html>
<html> 

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>Constants</title>
        <link href="index.css" rel="stylesheet" type="text/css">
    </head>	

    <body>

        <h2 align="center">Constants</h2>
        
        <table>
        <div>
            {% for n in data %}
                <tr>
                {% for x in n %}
                <th><div>{{x}}</div></th>
                {% endfor %}
                </tr>
            {% endfor %}
        </div>
        </table>

    </body>

</html>
