<!--Jessica Kuleshov and Sedona Thomas-->
<!--index.html: navigation page-->
<html>
<head>
  <title>Python Docs Meandering: Home</title>
  <link rel="stylesheet" href = "{{ url_for('static', filename='index.css') }}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a class="active" href="">Home</a>
        <li><a href="packages">Packages</a>
        <li><a href="modules">Modules</a>
        <li><a href="methods">Methods</a>
        <li><a href="constants">Constants</a>
	<li><a href="about_you">About You</a>
      </ul>
    </nav>
  </header>

  <h1>Welcome to Python Docs Meandering!</h1>
    
  <i>Current user:</i> <div>{{username}}</div>

  <h4>Users</h4>
    <form method="POST" action="/choose_user">
      <p>Username: <input type="text" name="username"> <input type="submit" value="Choose"></p>
    </form>
    
    <form method="POST" action="/add_user">
     <p>New user: <input type="text" name="name"> <input type="submit" value="Add"></p>
    </form>

  <h1>Search up something!</h1>
    <form method="POST" action="/search_results">
      <p>Find GitHub links by module or package name: <input type="text" name="code"> <input type="submit" value="Go"></p>
    </form>

    <form method="POST" action="/keyword_results">
      <p>Search by keyword: 
        <select name="type_name" id="type_name">
	  <option value="method">Method</option>
	  <option value="constant">Constant</option>
	  <option value="module">Module</option>
	  <option value="package">Package</option>
        <input type="text" name="keyword"> <input type="submit" value="Go">
      </p>
    </form>

    <form method="POST" action="/related_keyword_search">
      <p>Look for related keywords (by keyword): 
        <select name="type_name" id="type_name">
	  <option value="method">Method</option>
	  <option value="constant">Constant</option>
	  <option value="module">Module</option>
	  <option value="package">Package</option>
        <input type="text" name="keyword"> <input type="submit" value="Go">
      </p>
    </form>
	
    <form method="POST" action="/favorite_results">
      <p>Look up your favorites by keyword: 
        <select name="type_name" id="type_name">
          <option value="method">Method</option>
          <option value="constant">Constant</option>
          <option value="module">Module</option>
        <input type="text" name="keyword"> <input type="submit" value="Go">
      </p>
    </form>
	
    <form method="POST" action="/add_favorite">
      <p>Add favorite by name: 
        <select name="type_name" id="type_name">
          <option value="method">Method</option>
          <option value="constant">Constant</option>
          <option value="module">Module</option>
        <input type="text" name="name"> <input type="submit" value="Go">
      </p>
    </form>

    <form method="POST" action="/add_user_code">
      <p>Add user code (filepath, filename, github link): 
        <input type="text" name="filepath"> 
        <input type="text" name="filename">
        <input type="text" name="github_link">
	<input type="submit" value="Go">
      </p>
    </form>

</body>
</html>
