<!--Jessica Kuleshov and Sedona Thomas-->
<!--methods.html: -->

<!DOCTYPE html>

<html>
<head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">-->
    <title>Python Docs Meandering: Methods</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='index.css') }}">
</head>

<body>
   <header>
   <nav>
      <ul>
       <li><a href="index.html">Home</a>
       <li><a href="packages">Packages</a>
       <li><a href="modules">Modules</a>
       <li><a class="active" href="methods">Methods</a>
       <li><a href="constants">Constants</a>
       <li><a href="about_you">About You</a>
      </ul>
    </nav>
  </header>
        <h2 align="center">Methods</h2>
        
        <table>
        <div>
            <tr>
	    <th>Name</th>
	    <th>Return Type</th>
	    <th>Description</th>
	    </tr>
	    {% for n in data %}
                <tr>
                {% for x in n %}
                <td><div>{{x}}</div></td>
                {% endfor %}
                </tr>
            {% endfor %}
        </div>
        </table>

    </body>

</html>
