<!--Jessica Kuleshov and Sedona Thomas-->
<!--modules.html: -->


<html>
<head>
    <title>Python Docs Meandering: Modules</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='index.css') }}">
</head>

<body>
   <header>
   <nav>
      <ul>
       <li><a href="index.html">Home</a>
       <li><a href="packages">Packages</a>
       <li><a class="active" href="modules">Modules</a>
       <li><a href="methods">Methods</a>
       <li><a href="constants">Constants</a>
	<li><a href="about_you">About You</a>
      </ul>
    </nav>
  </header>

        <h2 align="center">Modules</h2>  
        <p>To find all methods and constants contained within a particular module, as well as dependencies, search here:</p>        
    	<form method="POST" action="/module_containment">
      	     <input type="text" name="module_name"> <input type="submit" value="Learn More"></p>
        </form>
        <table>
        <div>
	    <tr>
	    <th>Name</th>
	    <th>Filepath</th>
	    </tr>
            {% for n in data %}
                <tr>
                {% for x in n %}
                <td><div>{{x}}</div></td>
                {% endfor %}
                </tr>
            {% endfor %}
        </div>
        </table>

    </body>

</html>
